<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="Logs\Apolo_ActivityService_internal-nlog.txt">
  
  
  <targets async="true">

    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true" 
                layout="${longdate} | ${level:uppercase=true:padding=-4} | ${logger:shortName=true} | ${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="allfile" fileName="Logs\Apolo_ActivityService_allLog-${shortdate}.log"
                layout="${longdate} [${threadid}] [${pad:padding=5:inner=${level:uppercase=true}}] [${logger:shortName=true}] [${message}] ${exception:format=tostring} [${logger}]"/>-->

    <target xsi:type="File" name="allFile" fileName="Logs\Apolo_ActivityService_allLog-${shortdate}.json">
      <layout type="JsonLayout">
        <attribute name="TimeStamp" layout="${longdate}" />
        <attribute name="Level" layout="${uppercase:${level}}" />
        <attribute name="CorrelationId" layout="${aspnet-item:variable=CorrelationId}" />
        <attribute name="Environment" layout="${aspnet-item:variable=Environment}" />
        <attribute name="Component" layout="${aspnet-item:variable=Component}" />
        <attribute name="Version" layout="${aspnet-item:variable=Version}" />
        <attribute name="Message" layout="${logger:shortName=true} ${message} ${exception:format=tostring} ${logger}" />

      </layout>
    </target>

  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Debug" writeTo="allfile" />
    <logger name="*" minlevel="Debug" writeTo="coloredConsole" />

    <!--Skip Microsoft logs and so log only own logs-->
    <!--<logger name="Microsoft.*" minlevel="Debug" writeTo="msFile" final="true" />-->
  </rules>
</nlog>
